
<p>Find me in app/views/businesses/show.html.erb</p>
<!-- Business info:
<%= @business.name %>

<%= @business.description%> <br>
<%= @business.instagram%> <br>
<%= @business.address%> <br>
<%= @business.website%> <br>
 -->
<%= render 'shared/businessOffers' %>


Offers:
<% @business.business_offers.each do |business_offer| %>
  <%= link_to add_offer_to_bag_path(@business, business_offer.id), method: :post do %>
    <p>Credit: <%= business_offer.offer_amount %> -- Pay Only:
<p>Amount: <%= humanized_money_with_symbol(business_offer.price) %></p>
      <%= ((business_offer.offer_amount * (100 - business_offer.discount))/100) %></p>
  <% end %>
<%end%>




<%= link_to "PROCEED WITH CHECKOUT", order_path(cookies[:order_id])%> <br>
<%= link_to "GO BACK", root_path %>
