<div class="container-fluid">
  <div class="row justify-content-center">
    <div class=".col-sm-12 col-md-3">
    </div>
    <div class=".col-sm-12 col-md-1">
    </div>
    <div class=".col-sm-12 col-md-4 d-sm-inline-flex d-md-inline-flex">
      <div class="card-add mt-5 center">
          <% if @business.business_offers.count <= 3 %>
            <div class="msg mt-3 bl"> Add maximum 4 offers and click on REGISTER. </div>
              <div class="card-title">My Offer:</div>
                <div class="card-form">
                  <%= simple_form_for([@business, @business_offer], remote: true, class: 'form-inline') do |business_offer| %>
                  <%= business_offer.input_field :offer_amount, size: '5', placeholder: 'Offer Amount'  %>
                  <%= business_offer.input_field :discount, size: '30', placeholder: 'Discount' %>
                  <%= business_offer.submit "+" , class: "card-btn" %>
                  <% end %>
          <% else %> 
          <p>Maximum of 4 credit offer can be added to your page</p>       
          <% end %>
                  <%  if @business.business_offers.any? %>
                    <%  @business.business_offers.each do |businessoffer| %>
                    <p> <%= businessoffer.offer_amount %>€ <%= businessoffer.discount %>% </p>
                    <%  end %>
                  <% else %>
                    <p> No offers yet </p>
                  <%  end %>
                </div>
            <div class="btn-layer">
              <%= link_to "REGISTER", root_path, class: "btn btn-gradient" %>
            </div>
          </div>
      </div>
    <div class=".col-sm-12 col-md-1">
    </div>
    <div class=".col-sm-12 col-md-3">
    </div>
  </div>
</div>
