<%= render 'shared/navbar-home' %>
<div class="line"></div>
<div class="bus-container">
  <div class="main-item">
      <img src="<%= asset_path('cafe.jpg') %>" alt="">
  </div>

  <div class="bus-content-container">
    <div class="bus-infos">
      <h1><%= business.name %> <small><a href="<%= business.instagram %>" class="link-to"><i class="fab fa-instagram"></i></a></small> </h1>
      <p><%= business.description %></p>
      <h1>Location</h1>
      <p> <%= business.address %></p>
    </div>

    <div class="bus-infos mt-2">
      <h1>Offers</h1>
      <p>Click an offer to add it to your cart </p>
    </div>
    <div class="bus-infos bus-offers mt-2">

        <% business.business_offers.each do |business_offer| %>
          <%= link_to add_offer_to_bag_path(business, business_offer.id), method: :post , class: "link-to" do %>
            <button class="button-secondary-sm offers"><%= business_offer.offer_amount%>$ - <%= business_offer.price_cents/100 %> <span style="color:#739C88"> (<%= business_offer.discount%>%)</span></button>
          <% end %>
        <%end%>

    </div>
      <% if current_user.owner %>
        <div class="offer-action  button-transparent mt-1">
          <%= link_to "Back to Shops", businesses_path , class: "link-to"%>
        </div>
      <% elsif !current_user.orders.last.nil? %>
        <% if !current_user.orders.last.paid.nil? && !current_user.orders.last.paid %>
          <div class="offer-action  button-primary mt-1">
            <%= link_to "VIEW CART", order_path(current_user.orders.last.id) , class: "link-to-white"%>
          </div>
          <div class="offer-action  button-transparent mt-1">
            <%= link_to "Back to Shops", businesses_path , class: "link-to"%>
          </div>
        <%end %>
      <%else%>
          <div class="bus-infos button-primary mt-1">
            <%= link_to "Back to Shops", businesses_path , class: "link-to-white"%>
          </div>
      <%end%>
  </div>
</div>

