<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<%= form_tag orders_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an order"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Order Expiry Date</th>
      <th scope="col">Payment Amount</th>
      <th scope="col">Status of Payment</th>
      <th scope="col">Confirmation No</th>
    <% if current_user.owner %>
      <th scope="col">Settlement</th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <%if @orders[0].class == Order %>
      <% @orders.each do |order|%>
      <tr>
        <th scope="row"><%= order.id %></th>
        <td><%= order.exp_date %></td>
        <td><%= order.total_amount_cents %></td>
        <td><%= order.state %></td>
        <td> <%= order.confirmation_no %></td>
      <% if current_user.owner %>
        <% order.paid ? paid = "Done" : paid = "Not Done" %>
        <td> <%= paid %></td>
      <% end %>
      </tr>
      <%end%>
    <% else %>
        <% @orders.each do |orders|%>
              <% orders.each do |order| %>
            <tr>
              <th scope="row"><%= order.id %></th>
              <td><%= order.exp_date %></td>
              <td><%= order.total_amount_cents %></td>
              <td><%= order.state %></td>
              <td> <%= order.confirmation_no %></td>
            <% if current_user.owner %>
              <% order.paid ? paid = "Done" : paid = "Not Done" %>
              <td> <%= paid %></td>
            <% end %>
            </tr>
            <%end%>
        <%end%>
    <% end %>
  </tbody>
</table>

