

<%= render 'shared/navbar-home' %>
<div class="line"></div>


      <div class="srch-bar">
        <%= form_tag orders_path, method: :get, class: "form-inline" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "txtfld-ghost mt-2",
            placeholder: "Find an order"
          %>
          <%= button_tag :submit, class: "button-secondary-xs ml-2" do %>
            <img src="<%= asset_path('search.svg') %>" alt="">
          <%end%>
        <% end %>
      </div>

<div class="page-container">
      <div class="sidebar">
        <div class="item-box-up">
          <div class="up-spc">Your Profile</div>
          <div class="up-spc">Supported Businesses</div>
          <div class="up-spc">Transactions History</div>
        </div>
        <div class="item-box-down">
          <div class="down-ttl">FILTER:</div>
          <div class="down-spc stl">busness offer 1</div>
          <div class="down-spc stl">busness offer 1</div>
          <div class="down-spc stl">busness offer 1</div>
          <div class="down-spc stl">busness offer 1</div>
        </div>
      </div>



        <div class="page-body">
<div class="order-cell" style="grid-area: f1">ORDER NUMBER</div>
<div class="order-cell" style="grid-area: f2">ORDER DATE</div>
<div class="order-cell" style="grid-area: f3">EXPIRY DATE</div>
<div class="order-cell" style="grid-area: f4">TOTAL</div>
<div class="order-cell" style="grid-area: f5">PAYMENT STATUS</div>
<div class="order-cell" style="grid-area: f6">CONFIRMATION NO.</div>
<div class="order-cell" style="grid-area: f7">PACK QUANTITY</div>
<div class="order-cell" style="grid-area: f8">GIFT</div>

<div class="filter-cell"></div>
      <% @orders.each do |order|%>
      <div class="order-cell" style="grid-area: f11"><%= order.id %></div>
      <div class="order-cell" style="grid-area: f12"><%= order.order_date %></div>
      <div class="order-cell" style="grid-area: f13">%= order.exp_date %></div>
      <div class="order-cell" style="grid-area: f14"><%= order.total_amount_cents %></div>
      <div class="order-cell" style="grid-area: f15"><%= order.state %></div>
      <div class="order-cell" style="grid-area: f16"><%= order.confirmation_no %></div>
      <div class="order-cell" style="grid-area: f17"><%= order.order_items.count %></div>
      <div class="order-cell" style="grid-area: f18"><% if order.gift %> <i class="fas fa-gift" data-toggle="modal" data-target="#exampleModal"></i> <%end%></div>

      <div class="filter-cell"></div>
      <%end%>

  </div>

</div>



<br>

