<%= render 'shared/navbar-home' %>
<div class="line"></div>
<% order_items = @order.order_items.sort_by { |k| k["id"] }%>

<div class="shop-bag-container">
  <div class="shop-item-container">
    <div class="shop-ttl">
      <p>SHOPPING BAG ITEMS</p>
    </div>
          <% order_items.each do |order_item|%>
    <div class="shop-list-container">
        <div class="item-pic">
            <img src="<%= asset_path('cafe.jpg') %>" alt="">
        </div>
        <div class="item-descrption">
         <p><strong style="color: #739C88; font-weight: bold"> Business name</strong>
          <br>

          Original credit amount: <span class="strike"><%= order_item.business_offer.offer_amount %></span>
          , but you pay: <%= humanized_money_with_symbol(order_item.business_offer.price) %>
          <br>
                  Quantity
            <%= link_to remove_from_bag_path(order_item.business_offer.business_id,order_item.business_offer.id), method: :post, remote:true do %>
              <img src="<%= asset_path('minus.svg') %>" alt="">
            <% end %>
            <%= order_item.quantity %>
            <%= link_to increase_offer_to_bag_path(order_item.business_offer.business_id,order_item.business_offer.id), method: :post, remote:true do %>
              <img src="<%= asset_path('plus.svg') %>" alt="">
            <% end %>
            </p>
        </div>
        <div class="item-action">
          <p>
            <%= link_to  order_order_item_path(@order, order_item), method: :delete, remote:true  do %>
              <img src="<%= asset_path('cross.svg') %>" alt="">
            <% end %>
          </p>

        </div>

    </div>
          <% end %>
  </div>



<!-- ************************************** RIGHT SIDE OF THE PAGE ************************************************* -->

<div class="pay-bag-container">

  <div class="pay-title">
  <p>ORDER SUMMARY</p>
  </div>
  <div class="pay-item1">
    Number of Items:                   PLACEHOLDER FOR QUERY
  </div>
  <div class="pay-item2">
    Total Value: <%= @order.total_amount_cents %>
  </div>
    <% if !@order.gift %>
      <%= simple_form_for(@order, remote: true )do |order| %>
        <div class="gift-check mt-2">
          <%= order.check_box :gift, class: "checkbox-g" %> Send as a gift!
        </div>

      <% end %>
    <% else %>
      <div class="gift-check green mt-2">
        Your order will be sent as a gift to: <%= @order.gift_email %>

      </div>
    <% end %>

    <div class="pay-btn">
      <button id="pay" class="button-primary-lrg">PROCEED TO CHECKOUT</button>
    </div>
              <script src="https://js.stripe.com/v3/"></script>
                <script>
                  var paymentButton = document.getElementById('pay');
                  paymentButton.addEventListener('click', () => {
                    var stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
                    stripe.redirectToCheckout({
                      sessionId: '<%= @order.checkout_session_id %>'
                    });
                  });
                </script>
    <div class="button-transparent pay-item3">
      <%= link_to "Back to Shops", businesses_path , class: "link-to"%>
    </div>


    <div class="pay-terms">
      <p>
        Our returns are free and easy. If something isn’t quite right, you have 100 days to send it back to us. Read more in our return and refund policy
      </p>
      <p style="color: #94B0B9">
        FREE SHIPPING AND FREE RETURNS ON ALL ORDERS
      </p>
      <p style="color: #94B0B9">
        Because of the current situation, we have extended our returns and refunds policy to 100 days.
      </p>
      <p>
        Please note, order processing may take longer than usual right now. We’re working as fast as we can to get all orders ready, and we will let you know by email as soon as yours is on its way. Thank you for your patience during this difficult time, and - as always - for shopping with COS.
        In accordance with our Privacy Notice, if you are signed in to your COS account, we will share personal data from your account with Klarna for order checkout and payment purposes.
      </p>
    </div>
  </div>
</div>

