<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
This will be moved to nav-bar, to profile<%= link_to "GO to orders", orders_path %>

<%= render 'shared/banner' %>
<div><h1>explore</h1></div> -->





<div class="card-container">

    <%for i in (0..5) do%>
    <div class="card-container-item">
    <div class="card">

        <img src=<%= asset_path('cafe1.jpg')%> >
      <div class="card-infos">
        <div>
          <h2><%= @businesses[i].name %></h2>
          <p><%= @businesses[i].category.category_name %></p>
        </div>
        <p class="card-empl"><u><%= @businesses[i].employee_no %></u> people work here</p>
        <h2 class="card-user discount-bordered"><%= @businesses[i].business_offers[0].discount %>%</h2>
      </div>
    </div>
    </div>
    <% end %>

</div>




