<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
This will be moved to nav-bar, to profile<%= link_to "GO to orders", orders_path %>



<div class="card-container">
  <div class="card-container-item">
    <div class="card">
      <img src=<%= asset_path('cafe.jpg') %> />
      <div class="card-infos">
        <div>
          <h2>Chez Panisse</h2>
          <p>Resturaunt</p>
        </div>
        <p class="card-empl">10 people work here</p>
        <h2 class="card-user discount-bordered">20%</h2>
      </div>
    </div>
  </div>
</div>


<% @businesses.each do |business| %>


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text"><%= business.description %></p>
    <p><strong><%= business.name %></strong></p>
    <p><strong><%= business.category.category_name %></strong></p>
    <p><b><%= business.business_offers[0].discount %></b></p>
  </div>
</div>


<% end %>

